<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <% for(post of posts){ %>
        <div class="post">
            <h3 class="user">@ <%= post.username %></h3>
            <h3 class="content"><%= post.content %></h3>
            <br>
            <a href="http://localhost:8080/posts/<%= post.id %>" class="see_in_details"> See in details</a>
            <a href="http://localhost:8080/posts/<%= post.id %>/edit" class="edit"> Edit</a>
            <form method="post" action="/posts/<%= post.id %>?_method=DELETE" class="delete_button_form">
                <button class="delete_button">Delete Post</button>
            </form>
        </div>
    <%}%>


    <br>
    <br>
    <a href="http://localhost:8080/posts/new" class="create_new_post">Create new post</a>
</body>
</html>